<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer class="footer container">
        <div class="container-logo">
            <img src="img/logo-footer.webp" alt="logo" class="logo-header" draggable="false">
        </div>
        <ul class="container-navigation">
            <li><a href="/" class="navigation__element footer-el">Home</a></li>
            <li><a href="/about" class="navigation__element footer-el">About</a></li>
            <li><a href="/contact" class="navigation__element footer-el">Contact</a></li>
        </ul>
    </footer>
</body>
</html>