<%- include('layout', { 
    body: `
        <about class="about container">
            <h3 class="about-heading">Share your thoughts on books and explore insights from fellow readers.</h3>
            <img src="img/about.webp" alt="about image" class="about-img">
        </about>
        ` 
}) %>    
