<%- include('layout', { 
    body: `
        <contact class="contact container">
            <ul class="contact-content">
                <li class="contact__elements">
                    <img src="img/phone.webp" alt="phone" class="contactEl-img">
                    <p class="contactEl-name">+998 77 777-77-77</p>
                </li>
                <li class="contact__elements">
                    <img src="img/gmail.webp" alt="gmail" class="contactEl-img">
                    <p class="contactEl-name">litCritique@gmail.com</p>
                </li>
                <li class="contact__elements">
                    <img src="img/inst.webp" alt="instagram" class="contactEl-img">
                    <p class="contactEl-name">@litCritique</p>
                </li>
                <li class="contact__elements">
                    <img src="img/location.webp" alt="location" class="contactEl-img">
                    <p class="contactEl-name">Ulisa Pushkina, dom kolotushkino</p>
                </li>
            </ul>
            <div class="contact-img">
                <img src="img/contact.webp" alt="contact image" class="imgContact">
            </div>
        </contact>
        ` 
}) %>    
