<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="scripts/globalVariables.js" defer></script>
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/searchNewBook.js" defer></script>
    <script src="scripts/updateBook.js" defer></script>
    <script src="scripts/readBook.js" defer></script>
    <script src="scripts/deleteBook.js" defer></script>
    <script src="scripts/searchThisBook.js" defer></script>

    
    <script src="scripts/getAllBook.js" defer></script>
</head>
<body class="body-special">
    <wrapper class="wrapper">
        <div class="wrapper-headermain">
            
            <%- include('partials/header') %>
            <main class="main container">
                <h3 class="main-heading">Add Your Review – Help Others Discover Great Reads</h3>
            </main>
        </div>

        <div class="wrapper-mainImg">
            <img src="img/homeImg.webp" alt="HomePage image" class="mainImg" draggable="false">
        </div>
    </wrapper>
    <review class="review">
        <div class="review-navigation">
            <p class="review__heading">Book Store</p>
            <div class="search">
                <button class="search-icon"><img src="img/Vector.webp" draggable="false" alt="seach icon" class="search__img"></button>
                <input type="text" autocomplete="off" autocorrect="off" placeholder="Search books: " class="search-input" id="searchInput">
            </div>
        </div>
        <ul class="review__store" id="reviewStore">
            <li class="store-postNew">
                <form class="formBtn" action="/newReviewPage" method="GET">
                    <button class="addNewReview">&#65291;</button>
                    <button class="addNewReviewBtn">Create Review</button>
                </form>
            </li>
        </ul>
    </review>
    <%- include('partials/footer') %>
</body>
</html>