<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/reviewPage.css">
    <script src="scripts/searchNewBook.js" defer></script>
</head>
<body>
    <div id="review-form" class="reviewForm">
        <h2 class="searchHeading">Search Book:</h2>

        <div class="search-container">
            <div class="search" id="book-choice">
                <button class="search-icon"><img src="img/Vector.webp" draggable="false" alt="seach icon" class="search__img"></button>
                <input type="text" placeholder="Search books: " class="search-input" id="search-book" name="searchBook">
            </div>
            <button id="search-clear">&#10761;</button>
            <button id="search-button" onclick="fetchData()">Search</button>
        </div>

        <ul id="search-resultEl">
        </ul>

        <div class="reviewInfo">
            <div class="selected-bookContent">
                <h3 class="selectedHeading">Chosen Book:</h3>
                <div id="book-data">
                    <img src="" alt="ex" class="bookImg">
                    <div class="bookInfo">
                        <div class="bookAuthorInf">
                            <label>Author: </label>
                            <p class="book__author" id="book__authorName"></p>
                        </div>
                        <div class="bookAuthorInf">
                            <label>Title: </label>
                            <p id="book__titleName" class="book__author"></p>
                        </div>
                    </div>
                    <h3 class="book-name"></h3>
                </div>
            </div>
            <div class="selected-bookReview">
                <h3 class="selectedReview">Book Review:</h3>
                <textarea name="reviewMessage"  id="reviewMessage" cols="60" rows="15" placeholder="Leave your review message here:"></textarea>

                <div class="saveCancel">
                    <button  type="submit"><a href="/" class="saveReview">Apply</a></button>
                    <button  type="submit"><a href="/" class="cancelReview">Cancel</a> </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>