<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/reviewPage.css">
    <script src="scripts/globalVariables.js" defer></script>
    <script src="scripts/updateBook.js" defer></script>
</head>
<body>
    <div id="review-form" class="reviewForm">
        <div class="reviewInfo">
            <div class="selected-bookContent">
                <h3 class="selectedHeading">Chosen Book:</h3>
                <div id="book-data" class="book-data">
                    <img src="" alt="ex" id="bookImg">
                    <div class="bookInfo">
                        <div class="bookAuthorInf">
                            <label>Author: </label>
                            <p class="book__author" id="book__authorName"></p>
                        </div>
                        <div class="bookAuthorInf">
                            <label>Genre: </label>
                            <p class="book__author" id="book__authorGenre" ></p>
                        </div>
                    </div>
                    <h3 class="book-name" id="book__titleName"></h3>
                </div>
            </div>
            <div class="selected-bookReview">
                <h3 class="selectedReview">Book Review:</h3>
                <textarea name="reviewMessage"  id="reviewMessage" cols="60" rows="15" placeholder="Leave your review message here:"></textarea>

                <div class="saveCancel">
                    <button  class="saveReviewEdit" id="editApply" onclick="updateBook()">Edit</button>
                    <button><a href="/" class="cancelReview">Cancel</a> </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>