.about-heading{
    font-size: 54px;
    font-weight: 600;
}
.about{
    gap: 40px;
    padding-bottom: 40px;
}


/* Contact part */
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-content, .contact__elements{
    display: flex;
    gap: 20px;
}
.contact-content{
    flex-direction: column;
}
.contact__elements{
    align-items: center;
}
.contactEl-name{
    font-size: 30px;
}
.contactEl-img{
    width: 30px;
}
.contact-img{
    height: 80vh;
}
.imgContact{
    height: 100%;
}

@media (max-width:1280px) {
    .contact{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .contact-img{
        max-height: 60vh;
    }
}

@media (max-width:780px) {
    .contact{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .contact-img{
        max-height: 40vh;
    }
}
@media (max-width:512px) {
    .contact{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 60px;
    }
    .contact-img{
        margin-bottom: 40px;
        max-height: 25vh;
    }
}